PORT=5000
NODE_ENV=development

# API Keys
OCEAN_API_KEY="YOUR_API_KEY"
PROSPEO_API_KEY="YOUR_API_KEY"
PROSPEO_API_KEY="YOUR_API_KEY"
BREVO_API_KEY="YOUR_API_KEY"
SENDER_EMAIL="YOUR_WORK_MAIL(BREVO REGISTERED MAIL)"
